
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*color: D9CB9E;*/
  font-family: 'Roboto Condensed', sans-serif;
}
body{
  /*background-color: rgb(48,48,48);*/
  background-color: #2B2E2E;

}
h3{
  float: right;
}
.title h1{
  font-size: 3em;
  float: left;

}
h1{

  color: black;
}
#colorDisplay{
  height: 1px;
  width: 100px;
  background-size:contain;
  background-size: contain;
}
h2{
  padding-left: .5em;
}
.leftSide{
  background-color: #595855;
  border-radius: 25px;
  float: left;
  margin-top: 3vw;
}
.rightSide{
  background-color: #595855;
  border-radius: 25px;
  margin-left: 1vw;
  float: left;
  margin-top: 3vw;
}
.login{
  float: right;
}
.login input{
  float: left;
}
.slideMgmt{
  padding-bottom: 1.5vw;
}
.leftSide button{
  width: 60px;
}
#b5{
  width: 100px;
}
.buttons input{
  background-color: #595855;
  font-weight: bold;
  font-size: .75em;

  border-radius: 25px;
  color: black;
  margin: 0 5px;
}
.buttons{
  margin-left: 1vw;
}
.hoverColor{
  clear: left;
}
.colors{
  padding-top: 30px;
}
.buttons button:first-of-type{
  width: 5vw;
}

.sliders{
  margin-left: 2vw;
  background-color: #595855;
}
.sidebar button{
  padding: 1px 3px;
}
.topBar button{
  width: 60px;
}

button{
  background-color: #828282;
  font-weight: bold;
  font-size: .75em;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  margin: 0 5px;

}

#output{
  /*border: 2px solid red; */
  height: 5vw;
}
.burger div{
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    padding: none;

}
.burger div:first-of-type{
  margin-top: .75vw;
}
.burger{
  height: 3vw;
  float: left;
  margin: 10px 12px;
  margin-right: 10px;
  padding-top: .5vw;


}

.sideItem{
  margin: 7px 0;
}
.cd{
  height: 125px;
  width: 125px;
  float: left;
  border: 1px solid black;
  word-wrap: break-word;
  text-shadow:2px white;
}
span{
  -webkit-text-stroke: 1px black;
}
.topBar{
  background-color:#595855;
  width: 100%;
  height: 5em;
}
.title{
  margin-left: 1.5vw;
  float: left;
  padding-top: .5vw;
}
.logInButtons{
  float: left;
}
.activeSwatch button{
  clear: left;
}

.rightSide button{
  width: 50px;
  height: 20px;
  margin-left: 2vw;
  padding-left: none;
}
.logInButtons button{
  margin: 0 1vw;
}
.myCanvas{
  float: left
}

.colors div:nth-of-type(6n+7){
  clear: left;
}
.userSwatch div:nth-of-type(6n+7){
  clear: left;
}
.userSwatch{
  clear: left;
}
.colors{
  float: left;
}
.colors div{

}
.hoverColor{
  height: 4vw;
  width: 4vw;
  float: left;
  border: 1px solid black;
}

.slideMgmt{
  float: left;
  clear: left;
}
.swatchArea{
  float: left;
  clear: left;
}


.slider input{
  float: left;

}
.slider{
  float: left;
  color: white;
}
.slider label{
  float: left;
  clear: left;
}
.buttons input{

}
.topRight{
  float: right;
  width: 20%;
  padding-top: 1vw;
}
.topRight button{
  float: right;
}
.topRight input{
  float: right;
}
.topLeft{
  width: 75%;
}

.signUpBox{
  border: 2px solid black;
  background-color: grey;
  position: absolute;
  z-index: 2;
  left: 40%;
  top: 35%;
  width: 15%;
  height: 20%;
}
.sidebar{
  border: 2px solid black;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 5em;
  background-color: #595855;
  width: 250px;
  height: 100%;
}
.sideColor{
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

@media only screen and (max-width: 1025px){
.leftSide{
  width: 100%;
  margin: none;
  padding: none;
  padding-bottom: 5vw;
  left: 0;
}
.rightSide{
  width: 100%;
  margin: none;
  padding: none;
  padding-bottom: 5vw;
  left: 0;
}
.buttons button:first-of-type{
  width: 10vw;
}
}
@media only screen and (max-width: 768px){
.topBar{
  height: 6em;
}

}
