#colorDisplay{
  height: 100px;
  width: 100px;
  background-size:contain;
  background-size: contain;
}
/*#colorDisplay2{
  height: 100px;
  width: 100px;
}*/
#output{
  /*border: 2px solid red; */
  height: 5vw;
}
/*
#colorDisplay3{
  height: 100px;
  width: 100px;
}

#colorDisplay4{
  height: 100px;
  width: 100px;
}
#colorDisplay5{
  height: 100px;
  width: 100px;
}
#colorDisplay6{
  height: 100px;
  width: 100px;
}
#colorDisplay7{
  height: 100px;
  width: 100px;
}*/

.cd{
  height: 100px;
  width: 100px;
  float: left;
}
